<%= form_for(webdatum) do |f| %>
  <% if webdatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webdatum.errors.count, "error") %> prohibited this webdatum from being saved:</h2>

      <ul>
      <% webdatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :webdata %>
    <%= f.text_field :webdata %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
