<p id="notice"><%= notice %></p>

<h1>Webdata</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Webdata</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webdata.each do |webdatum| %>
      <tr>
        <td><%= webdatum.url %></td>
        <td><%= webdatum.title %></td>
        <td><%= webdatum.webdata %></td>
        <td><%= link_to 'Show', webdatum %></td>
        <td><%= link_to 'Edit', edit_webdatum_path(webdatum) %></td>
        <td><%= link_to 'Destroy', webdatum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webdatum', new_webdatum_path %>
