<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @webdatum.url %>
</p>

<p>
  <strong>Webdata:</strong>
  <%= @webdatum.webdata %>
</p>

<%= link_to 'Edit', edit_webdatum_path(@webdatum) %> |
<%= link_to 'Back', webdata_path %>
